@page "/"

<PageTitle>Webtober</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="py-5">
	<MudText Typo="Typo.h1" Align="Align.Center">Bienvenue dans mon site du Webtober</MudText>

	<MudText Typo="Typo.subtitle1">
		<MudText Typo="Typo.subtitle1">Le Webtober est un défi personnel que je me lance en octobre pour améliorer mes compétences en développement web.</MudText>
		<MudText Typo="Typo.subtitle1">L'objectif est de créer un concepte web par jour pendant tout le mois d'octobre.</MudText>
		<MudText Typo="Typo.subtitle1">J'utilise la liste des themes de l'inktober comme source d'inspiration pour mes projets.</MudText>
	</MudText>
	<MudPaper>
		<MudStack Row="true" Spacing="2" Class="pa-4">
			<a class="svg-hover" href="/2025">
				<Webtober2025.Client.Icons._2025 />
			</a>
			<a class="svg-hover" href="/2023">
				<Webtober2025.Client.Icons._2023 />
			</a>
		</MudStack>
	</MudPaper>
</MudContainer>
