@page "/"

@using Webtober2025.Client.Icons

<PageTitle>Webtober</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="py-5">
	<MudText Typo="Typo.h1" Align="Align.Center">Bienvenue dans mon site du Webtober</MudText>

	<MudText Typo="Typo.subtitle1">
		<MudText Typo="Typo.subtitle1">Le Webtober est un défi personnel que je me lance en octobre pour améliorer mes compétences en développement web.</MudText>
		<MudText Typo="Typo.subtitle1">L'objectif est de créer un concepte web par jour pendant tout le mois d'octobre.</MudText>
		<MudText Typo="Typo.subtitle1">J'utilise la liste des themes de l'inktober comme source d'inspiration pour mes projets.</MudText>
	</MudText>
	<MudPaper>
		<MudStack Row="true" Spacing="2" Class="pa-4">
			<a href="/2025" @onmouseenter="@(() => _Hover = 2025)" @onmouseleave="@(() => _Hover = null)">
				<_2025 Hover="_Hover == 2025" />
			</a>
			<a href="/2023" @onmouseenter="@(() => _Hover = 2023)" @onmouseleave="@(() => _Hover = null)">
				<_2023 Hover="_Hover == 2023" />
			</a>
		</MudStack>
	</MudPaper>
</MudContainer>

@code {
	int? _Hover { get; set; } = null; 
}