<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/angular-material.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />

    <title></title>

    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-aria.min.js"></script>
    <script src="/Scripts/angular-material.min.js"></script>
    <script src="/Scripts/ListeInktober.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="Inktober" ng-controller="Controller as ctrl" ng-init="ctrl.Init()" layout="column">
    <h1 class="text-center">Dodge / Esquive</h1>
    <h4 class="text-center">Esquive les hameçon. Attention, ça accélère toutes les 10s.</h4>
    <div id="Main" layout layout-align="center center" ng-mousemove="MoveMouse($event)" flex>
        <img class="Hamecon" ng-repeat="hamecon in Hamecons" src="Images/Hameçon.png" ng-style="GetHameconStyle(hamecon)" />
        <div id="Timer" ng-if="Game">{{Duree | number : 2}}</div>
        <img id="Poison" src="Images/Poisson.png" />
        <div id="MouseDetect" ng-mousemove="MoveMouse($event)" layout>
            <div id="Score" ng-if="!Game" layout="column" layout-align="center center" flex>
                <div class="Texte">Vous avez été attrapé au bout de {{Duree | number : 2}} secondes.</div>
                <button ng-click="StartGame()">Réessayer !</button>
            </div>
        </div>
    </div>
</body>
</html>