@page "/2025/4"

@inject IJSRuntime JS
@implements IAsyncDisposable

<h3>04 - Trouble</h3>

<MudPaper Class="d-flex justify-space-around">
	<video id="video" class="border" style="width:45vw; height:auto;"></video>

	<canvas id="effect" width="640" height="480" style="width:45vw; height:auto;"></canvas>
</MudPaper>

@code {

	IJSObjectReference? _Module { get; set; }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			_Module = await JS.InvokeAsync<IJSObjectReference>("import", "/Scripts/04/Logic.js");
			// Appeler la fonction JavaScript pour charger la caméra.
			await _Module.InvokeVoidAsync("LoadCam");
		}
		await base.OnAfterRenderAsync(firstRender);
	}

	public async ValueTask DisposeAsync()
	{
		if (_Module is not null)
		{
			await _Module.InvokeVoidAsync("DisposeCam");
			await _Module.DisposeAsync();
		}
	}
}
