body {
    margin: 0;
    overflow: hidden;
}

#scratchContainer {
    position: relative;
}

#scratchSvg {
    cursor: pointer;
}

#maskedGroup {
    mask: url(#mask);
}

#mask {
    cursor: pointer;
}
