<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/angular-material.min.css" rel="stylesheet" />
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />

    <title></title>

    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-animate.min.js"></script>
    <script src="/Scripts/angular-aria.min.js"></script>
    <script src="/Scripts/angular-material.min.js"></script>
    <script src="/Scripts/ListeInktober.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="Inktober" ng-controller="Controller as ctrl" ng-init="ctrl.Init()" layout="column">
    <h1 class="text-center">Spiders / Araignées</h1>
    <h4 class="text-center">Fuit les Araignées et tiens le plus longtemps possible</h4>
    <div id="Main" layout flex>
        <canvas id="Jeu" width="1920" height="822" flex></canvas>
        <div id="Timer" ng-if="Game">{{Duree | number : 2}}</div>
        <div id="Overlay" ng-mousemove="Mouse($event)" layout>
            <div id="Score" ng-if="!Game" layout="column" layout-align="center center" flex>
                <div class="Texte">Vous avez été attrapé au bout de {{Duree | number : 2}} secondes.</div>
                <button ng-click="StartGame()">Réessayer !</button>
            </div>
        </div>
    </div>
</body>
</html>